<section class="contact-sec">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
				<div class="google-maps">
				     <iframe src="https://www.google.com/maps/d/embed?mid=1AH8aCZGbX-QXTj3QK7xYRLUsSaw2L6oO&hl=en" width="640" height="480" frameborder="0"></iframe>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
				<div class="contact-right-block">
					  <h1 class="page-title">Contact Us</h1>
					  <address class="office1">
					  	<h6 class="off-sub-title">Head Office</h6>
					  	<div class="add-line">
					  		<a class="" href="tel:73-899-01234">
					  			<mat-icon class="icon">phone_android</mat-icon> <span>+91-73-899-01234</span>
					  		</a>
					  	</div>
					  	<div class="add-line">
					  		<a class="" href="mailto:care@safetywagon.com">
					  			<mat-icon class="icon">mail</mat-icon> <span>care@safetywagon.com</span>
					  		</a>
					  	</div>
					  	<div class="add-line">
					  		<a class="">
					  			<mat-icon class="icon location-icon"> location_on</mat-icon> 
					  			<span>Safety Wagon B-26 Patthar Godam Road New Siyaganj, Indore, M.P. 452007(India)</span>
					  		</a>
					  	</div>
					  </address>
					  <address class="office1">
					  	<h6 class="off-sub-title">Regional Office</h6>
					  	<div class="add-line">
					  		<a class="" href="tel:73-899-01234">
					  			<mat-icon class="icon">phone_android</mat-icon> <span>+91-73-899-01234</span>
					  		</a>
					  	</div>
					  	<div class="add-line">
					  		<a class="" href="mailto:care@safetywagon.com">
					  			<mat-icon class="icon">mail</mat-icon> <span>care@safetywagon.com</span>
					  		</a>
					  	</div>
					  	<div class="add-line">
					  		<a class="">
					  			<mat-icon class="icon location-icon" style="margin-right: 10px;">location_on</mat-icon> 
					  			<span>SafetyWagon Automation India Pvt. Ltd. (Delhi), 4136-203, MRais Market, Gali ShahTara, Ajmeri Gate, Delhi 110006(India)</span>
					  		</a>
					  	</div>
					  </address>
				</div>
			</div>
		</div>
	</div>
</section>