<div class="container">
    <div class="row">
        <div class="col-12 col-sm-7 col-md-6 col-lg-5 col-xl-4 m-auto">
            <div class="p-3 bg-white box-shadow1 mb-5">
                
                <h5 class="h5 color-black mb-1">Reset Password</h5>
                <span class="fontsize-14 color-lgray fontfamily-regular display-b mb-3">Set your new password here</span>
                <form class="example-form mb-3">
                   
                    <mat-form-field class="example-full-width">
                        <input matInput type="password" placeholder="New Password" [(ngModel)]="password" name="password" id="password">
                        <p class="error" *ngIf="password_err">{{password_err}}</p>
                    </mat-form-field>
                    <mat-form-field class="example-full-width mb-4">
                        <input matInput type="password" placeholder="Confirm Password" [(ngModel)]="confirm_password" name="confirm_password" id="confirm_password">
                        <p class="error" *ngIf="confirm_password_err">{{confirm_password_err}}</p>
                    </mat-form-field>
                    
                    <a href="JavaScript:Void(0);" class="btn btn-green btn-shadow" mat-button (click)="resetpassword()">change</a>
                </form>
            </div>
        </div>
    </div>
</div>
