<section class="return-ex-sec-1">
    <div class="header-bg-block text-center" fxLayout="column" fxLayoutAlign="center center" fxFlex="100">
        <h2 class="page-title">Return & Exchange</h2>
    </div> 
</section>
<section class="return-ex-sec-2">
    <div class="container">
        <div class="page-text" fxLayout="column" fxLayoutAlign="space-between start" fxFlex="100" [innerHTML]="description">
                {{description}}
                <!-- <h4 class="fontsize-20 color-black fontfamily-semibold">Delivery Time is dependent on 2 factors: </h4>
            <p class="fontsize-14 color-black mb-30">Our policy lasts 10 days. If 10 days have gone by since your purchase, unfortunately we can’t offer you a refund or exchange.
            </p>
            <p class="fontsize-14 color-black mb-30">To be eligible for a return, your item must be unused and in the same condition that you received it. It must also be in the original packaging and 
                    Unbreakable Seal Box (If Applicable)
            </p>
            <p class="fontsize-14 color-black mb-30">Several types of goods are exempt from being returned only can be Exchanged. Passive Parts such as Connectors, Remote Controls, Adaptors, Wires, 
                    Screws etc. cannot be returned only Exchanged. 
            </p>
            <p class="fontsize-14 color-black mb-30">To complete your return, we require a receipt or proof of purchase.
            </p>
            <p class="fontsize-14 color-black mb-30">There are certain situations where only partial refunds are granted (if applicable) <br/>
                    Any Items / Products that has been opened <br/>
                    Any item / Product not in its original condition, is damaged or missing parts for reasons not due to our error <br/>
                    Any item that is returned more than 10 days after delivery
            </p>

            <h4 class="fontsize-20 color-black fontfamily-semibold">Refunds (if applicable)</h4>
            <p class="fontsize-14 color-black mb-30">Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund.
            </p>
            <p class="fontsize-14 color-black mb-30">If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days.
            </p>

            <h4 class="fontsize-20 color-black fontfamily-semibold">Late or missing refunds (if applicable)</h4>
            <p class="fontsize-14 color-black mb-30">If you haven’t received a refund yet, first check your bank account again. <br/>
                    Then contact your credit card company, it may take some time before your refund is officially posted. <br/>
                    Next contact your bank. There is often some processing time before a refund is posted. <br/>
                    If you’ve done all of this and you still have not received your refund yet, please contact us at care@safetywagon.com.
            </p>

            <h4 class="fontsize-20 color-black fontfamily-semibold">Sale items (if applicable)</h4>
            <p class="fontsize-14 color-black mb-30">Only regular priced items may be refunded, unfortunately sale items cannot be refunded.
            </p>
            
            <h4 class="fontsize-20 color-black fontfamily-semibold">Exchanges (if applicable)</h4>
            <p class="fontsize-14 color-black mb-30">We only replace items if they are defective or damaged. If you need to exchange it for the same item, send us an email at care@safetywagon.com and send your item to: B-26, Patthar Godam Road, New Siyaganj, Indore(M.P.).
            </p>

            <h4 class="fontsize-20 color-black fontfamily-semibold">Gifts</h4>
            <p class="fontsize-14 color-black mb-30">If the item was marked as a gift when purchased and shipped directly to you, you’ll receive a gift credit for the value of your return. Once the returned item is received, a gift certificate will be mailed to you.
            </p>
            <p class="fontsize-14 color-black mb-30">If the item wasn’t marked as a gift when purchased, or the gift giver had the order shipped to themselves to give to you later, we will send a refund to the gift giver and he will find out about your return.
            </p>

            <h4 class="fontsize-20 color-black fontfamily-semibold">Shipping</h4>
            <p class="fontsize-14 color-black mb-30">To return your product, you should courier your product to: B-26, Patthar Godam Road, New Siyaganj, Indore(M.P.)
            </p>
            <p class="fontsize-14 color-black mb-30">You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are non-refundable. If you receive a refund, the cost of return shipping will be deducted from your refund.
            </p>
            <p class="fontsize-14 color-black mb-30">Depending on where you live, the time it may take for your exchanged product to reach you, may vary.
            </p>
            <p class="fontsize-14 color-black mb-30">If you are shipping an item over Rs.1500, you should consider using a trackable shipping service or purchasing shipping insurance. We don’t guarantee that we will receive your returned item.
            </p> -->
        </div> 
    </div>
</section>