<section class="about-us-sec-1">
    <div class="container">
        <h1 class="page-title">Safety Wagon Journey</h1>
    </div>
</section>
<section class="about-us-sec-1">
    <div class="bg-img-block text-left" fxLayout="column" fxLayoutAlign="center start" fxFlex="100"></div> 
</section>
<section class="about-us-sec-2">
    <div class="container">
        <div class="page-text" fxLayout="column" fxLayoutAlign="space-between start" fxFlex="100">
            <h2 class="page-title">Introduction</h2>
            <p class="fontsize-14 color-black mb-30">KS Industrial Trades (KSIT) Commenced With Mr Ankit Jain As Its Leader, In The Year 2012. With constant motivation, drudgery and teamwork with experts and strivers under the 
                    same roof, it has successfully managed to make a name for itself in the years that followed. KSIT, today in fact is much sought after when it comes to Integrated Electronic Security. 
                    This approval and appreciation is not only confined to a specific city, but stretches to cover the entire Central India. What has given KSIT the leading edge over all these years are the 
                    quality assurance of products, unparalleled designs and relentlessness when it comes to innovation in integrating of concepts.  
            </p>
            <p class="fontsize-14 color-black mb-30">Another feather to the cap was added when KSIT launched SafetyWagon, an online portal from where multitude of safety apparatus can be purchased, CCTV, fire alarms, biometric 
                    systems to name a few.
            </p>
            <p class="fontsize-14 color-black mb-30">SafetyWagon operates clinging to the belief of being the best rather than the largest. We also believe in providing eminent services to our client, making client discontentedness in 
                    clients out of question. Our adepts are well- versed not only with first- rate technologies, but also in assuring that your experience and faith remains unwavered.    
            </p>
        </div> 
    </div>
</section>
<section class="about-us-sec-3">
    <div class="container">
        <div class="" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="start start" fxLayoutAlign.gt-xs="space-between start" fxFlex="100" fxLayoutGap="30px">
            <div class="" fxLayout="column" fxLayoutAlign="space-between start" fxFlex="48">
                    <img src="../../../assets/images/ab-mission.png" class="mb-20">
                    <h2 class="page-title">Our Mission</h2>
                    <p class="fontsize-14 color-dgray mb-30 mr-130">We work to provide security to our customers to ensure safety 
                            for a peaceful life.The needs and wants of all the clients are met 
                            with topnotch values and services. We  promise to leave no 
                            stone unturned to ensure that we  are there for our Clients. 
                    </p>
            </div> 
            <div class="" fxLayout="column" fxLayoutAlign="space-between start" fxFlex="48">
                    <img src="../../../assets/images/ab-vision.png" class="mb-20">
                    <h2 class="page-title">Our Vision</h2>
                    <p class="fontsize-14 color-dgray mb-30 mr-200">To attain and maintain the name of being the “best 
                            security solution provider in all the boundaries of this 
                            nation” 
                    </p>
            </div> 
        </div>  
    </div>
</section>

