<h1 mat-dialog-title>Share</h1>
<div mat-dialog-content>
   <ul class="social-share">
   	  <li>
   	  	<a href="#"><img class="comare-img" src="../../../assets/images/facebook.png"/> <br> Facebook</a>
   	  </li>
   	  <li>
   	  	<a href="#"><img class="comare-img" src="../../../assets/images/linkedin.png"/> <br> Linkedin</a>
   	  </li>
   	  <li>
   	  	<a href="#"><img class="comare-img" src="../../../assets/images/twitter.png"/> <br> Twitter</a>
   	  </li>
   	  <li>
   	  	<a href="#"><img class="comare-img" src="../../../assets/images/gmail.png"/> <br> Gmail</a>
   	  </li>
   </ul>
</div>
<div mat-dialog-actions  align="end">
  <button mat-button mat-dialog-close>No Thanks</button>
  <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
</div>