<!-- 
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened role="navigation">
    <mat-nav-list>
      <a mat-list-item routerLink='/my-profile'>My Profile</a>
      <a mat-list-item routerLink='/my-order'>My Order</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->
<section class="sec-account">
	<div class="container">
		<div class="" fxLayout="row" fxLayoutAlign="start start" fxFlex="100" fxLayoutGap="0px">
			<div class="sidenav-content mt-3">
				<mat-list role="list" class="sidenav-list">
				  <mat-list-item role="listitem">
				  	<a mat-list-item routerLink='my-profile'>My Profile</a>
				  </mat-list-item>
				  <mat-list-item role="listitem">
				  	<a mat-list-item routerLink='my-order'>My Order</a>
				  </mat-list-item>
				  <mat-list-item role="listitem">
				  	<a mat-list-item routerLink='change-password'>Change password</a>
				  </mat-list-item>
				  <mat-list-item role="listitem">
				  	<a mat-list-item routerLink='addresses'>Manage Addresses</a>
				  </mat-list-item>
				</mat-list>
			</div>
			<div class="body-content">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</section>