<section class="track-order-sec">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="page-bradcum"></div>
				<div class="breadcrumbs mb-2 mt-2">Home <mat-icon class="right-icon">keyboard_arrow_right</mat-icon> Track Order</div>
			</div>
		</div>
	</div>
	<div class="top-block">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
					<div class="track-order-wrapper">
						<h6 class="mb-3">Delivery Address</h6>
						<div class="user-name">Aj</div>
						<address>
							<div class="address-line">245 maal godam road, new siyaganj, indore - 452030, Madhya Pradesh</div>
							<div class="address-line"><span>Mobile Number</span> 7894578610</div>
							<div class="address-line"><span>Email</span> aj@mailinator.com</div>
						</address>
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
					<div class="track-order-wrappers">
						<h6 class="mb-4">Action</h6>
						<div class="order-invoice">
							<div class="invoice-doc">
								<div class="doc-icon"><mat-icon> insert_drive_file</mat-icon></div> 
								<div class="in-text">Invoice</div>
							</div>
							<div class="download-btn">Download</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="top-block">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
					<div class="track-order-wrapper row">
						<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
							<div class="product-image-wrapper">
		                        <img class="product-main-image" src="../../../assets/images/product-img1.png">
		                    </div>
						</div>
						<div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 padding">
							<h6 class="product-main-title">CP Plus CP-UAC-D10L2 1 MP Dome Camera</h6>
							<div class="price-block">
                                <span class="product-discount-price">₹ 650</span>
                                <del class="product-price">₹ 595</del>
                                <span class="save-amt">8% Off</span>
                            </div>
                            <div class="small-note-text">GST @5% inclusive price: ₹ 624</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
					<div class="track-order-wrapper">
						<div class="progressbar-wrapper">
							<ul class="progressbar">
								<li class="active">Ordered & Approved</li>
								<li class="">Packed</li>
								<li>Shipped</li>
								<li>Delivered</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-xl-2">
					<div class="track-order-wrappers">
						<h6 class="mb-4">Delivered in 22 Feb 2020</h6>
						<div class="order-invoice">

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
