<section class="shipping-p-sec-1">
    <div class="header-bg-block text-center" fxLayout="column" fxLayoutAlign="center center" fxFlex="100">
        <h2 class="page-title">{{pagetitle}}</h2>
    </div> 
</section>
<section class="shipping-p-sec-2">
    <div class="container">
        <div class="page-text" fxLayout="column" fxLayoutAlign="space-between start" fxFlex="100" [innerHTML]="description">
            <!-- <h4 class="fontsize-20 color-black fontfamily-semibold mb-15">Customers must provide full, accurate and legible information/Address in the order form. PIN Code number and working Telephone number or Mobile Phone Number is must for everyone. </h4>
            <ul style="list-style: disc;padding-left: 20px;">
                <li class="mb-30 fontsize-14" style="list-style: disc;">All credit card payments must be authorized online. In the event of non-authorization of any credit card, Safety Wagon is not responsible for all or 
                        part failure or non-acceptance and non-authorization of such credit cards.
                </li>
                <li class="mb-30 fontsize-14" style="list-style: disc;">All Products Dispatched from www.safetywagon.com  are VAT/CST Paid, Octroi / Other Taxes (If Applicable) are not in our control. They vary 
                        according to the rules of different states and must be paid directly by the buyer. Octroi / Penalties Taxes are not included in our ordering process, 
                        but may be charged to you by your State government. They are entirely your responsibility.
                </li>
                <li class="mb-30 fontsize-14" style="list-style: disc;">While every endeavor has been made to accurately reproduce colors, there may be minor variations in color of the actual product because of the 
                        nature of Material and differences in display output due to lighting and digital photography. A customer must place an order keeping in mind this 
                        minor variation in color as seen on a computer screen against the actual color of the product received.
                </li>
                <li class="mb-30 fontsize-14" style="list-style: disc;">All items offered are subject to availability at the time of placing your order. • Designs and prices are subject to change without notice and the 
                        prices mentioned on all the products of Safety Wagon are final and no bargaining on this will be entertained.
                </li>
                <li class="mb-30 fontsize-14" style="list-style: disc;">www.safetywagon.com will not be responsible for wrong delivery due to incorrect and/or incomplete address supplied by the customer.
                </li>
                <li class="mb-30 fontsize-14" style="list-style: disc;">We want to get things to you as quickly as humanly possible.<br/>
                        To keep things simple, we offer Free Shipping on all Pre Paid orders. <br/>
                        If there is a shipping charge (for expedited shipping, for example), we are not in business to "profit" from shipping; you are charged what we are 
                        charged; Under commit; over deliver.
                        
                </li>
                <li class="mb-30 fontsize-14" style="list-style: disc;">Delivery Time
                </li>
            </ul>
            
            <h4 class="fontsize-20 color-black fontfamily-semibold">Delivery Time is dependent on 2 factors: </h4>
            <p class="fontsize-14 color-black mb-30">"Availability". Every product detail's page will show a value similar to "Usually Ships in 24 Working Hours". Weekly holidays and other Festive/National 
                    Holidays considered as non working hours, It is also noted in the Shopping Cart, and informs you of how quickly an item will be ready to ship out. For 
                    example, some items will ship within 24 hours, others in a couple days, while some may take as many as several weeks (especially custom products). 
                    The "Availability" value is an estimate. We do our best to ship items out as quickly as possible, so we often get orders out more quickly than is noted 
                    by the "Availability" timeframe, but please do not count on that.
            </p>
            <ul style="list-style: disc;padding-left: 20px;">
                    <li class="mb-30 fontsize-14" style="list-style: disc;">The method of delivery - Our Free shipping  method is either By Air or By Surface depend on Product Type, Delivery Location etc..Takes minimum 48 Working hours or Maximum 5 to 7 business days or more.
                    </li>
                    <li class="mb-30 fontsize-14" style="list-style: disc;">Additionally, please note that delivery time is also based on "business" days. For example, if you place an order on Sunday or on any other Festive/National Holidays, it's impossible for us to ship an item the same or other day as all the shippers and our office are closed.
                    </li>
                    
                </ul> -->
                {{description}}
        </div> 
    </div>
</section>