<section class="thankyou-sec-1">
        <div class="container">
            
            <div class="mb-20 mt-20 text-center thankyou-height" fxLayout="column" fxLayoutAlign="center center" fxFlex="100">
                <img class="check-icon mb-20" src="../../../assets/images/sucess-thanyou-img.png" />
                <h2 class="h2 fontfamily-bold color-black mt-0 mb-15">Thank You!</h2>
                <p class="mb-40">Your order is successfully placed <br/> Please go to my orders page for check your order detail <br/> or installation request.</p>
                <!-- <button class="btn btn-green" style="width: 200px;">GO to My Orders</button> -->
                <a routerLink="/my-order" class="btn btn-green custom-btn">GO to My Orders</a>
            </div>
           
        </div>
    </section>